<a href="https://colab.research.google.com/github/bilal-ozgur/statistics/blob/main/Statistics_Assignment_2_(CIs_%26_Hypothesis)_(DS_15_EU).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CONFIDENCE INTERVALS

### EXERCISE 1. What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees.

### Give a 99% confidence interval for the average body temperature of healthy people.

In [7]:
import numpy as np
from scipy import stats

In [8]:
mean_temp = 98.25
std_temp = 0.73
n = 130

In [9]:
sem_temp = std_temp / np.sqrt(n)   # standard error of mean  (sigma x bar). Std for SDSM
sem_temp

0.06402523540941313

In [10]:
# LONGER WAY ANSWER

moe = 2.58 * sem_temp   # margin of error (99%)
moe

0.1651851073562859

In [11]:
upper_lim = mean_temp + moe    # upper confidence limit
upper_lim

98.41518510735628

In [12]:
lower_lim = mean_temp - moe    # lower confidence limit
lower_lim

98.08481489264372

In [13]:
print(f'Normal body temperature for healthy humans is between {round(lower_lim,2)} and {round(upper_lim,2)}')

Normal body temperature for healthy humans is between 98.08 and 98.42

In [14]:
# SHORT ANSWER
ci_z_temp = stats.norm.interval(0.99, mean_temp, sem_temp)
ci_z_temp

(98.08508192246582, 98.41491807753418)

### EXERCISE 2. The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


### Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [15]:
n2 = 500
mean_pat = 5.4
std_pat = 3.1

In [16]:
sem_pat = std_pat / np.sqrt(n2)   # standard error of mean  (sigma x bar). Std for SDSM
sem_pat

0.13863621460498696

In [17]:
ci_z_pat = stats.norm.interval(0.95, mean_pat, sem_pat)
ci_z_pat

(5.12827801242126, 5.67172198757874)

# HYPOTHESIS TESTING

### EXERCISE 3. The hourly wages in a particular industry are normally distributed with mean 13.20 and standard deviation 2.50 dolar. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

### CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [18]:
x_bar = 12.20  # sample mean
n = 40         # number of samples
sigma = 2.50   # sd of population
mu = 13.20     # Population mean

Calculate the test statistic

In [21]:
z = (x_bar - mu)/(sigma/np.sqrt(n))
z

-2.5298221281347035

Calculate the p-value

In [27]:
p_value = 1- stats.norm.cdf(-2.5)   # kodun icine z scorumuzu 2.5 olarak mi yazmali yoksa -2.5 mi ?
p_value

0.9937903346742238

In [28]:
alpha = 0.01

if p_value < alpha:
  print(f'At {aplha} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.')
else:
  print(f'At {aplha} level of significance, we fail to reject the null hypothesis.')

At 0.01 level of significance, we fail to reject the null hypothesis.

### EXERCISE 4.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

### Results for two type of soils

### CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [29]:
import pandas as pd

In [38]:
soil_df = pd.read_excel('soil.xlsx')
soil_df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [40]:
soil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Soil1   30 non-null     float64
 1   Soil2   35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [41]:
soil_df.describe()

           Soil1      Soil2
count  30.000000  35.000000
mean    1.691800   1.417114
std     0.206903   0.219184
min     1.110000   1.053000
25%     1.572000   1.231000
50%     1.675000   1.379000
75%     1.865250   1.559000
max     2.054000   1.878000

In [43]:
print(round(soil_df.Soil1.mean(),2))
print(round(soil_df.Soil2.mean(),2))

1.69
1.42

### EXERCISE 5. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

### 1. Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
### 2. Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
### CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345